@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: rgb(236 237 234) rgb(156 163 175);
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #333;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(117, 117, 117);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #3a3a3a;  /* creates padding around scroll thumb */
}